.header {
    background: var(--green);
    color: var(--white);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding-bottom: 50px;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.home {
      width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: contain;
  border: 2.5px solid rgb(255, 99, 125); /* золотистая рамка */
  background: rgba(255, 255, 255, 0.3);
  padding: 8px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.15),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
}

.home:hover {
  transform: scale(1.15) rotate(8deg);
  border-color: rgb(255, 99, 125);
  box-shadow: 
    0 8px 20px rgb(255, 99, 125),
    inset 0 1px 0 rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.5);
}

.header h1 {
    font-size: 1.6em;
    text-align: center;
    color: rgb(255, 99, 125);
    padding-bottom: 25px;
}

